# Add any directories, files, or patterns you don't want to be tracked by version control

*.slo
*.sln
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.log
*.pdb
/Binaries/
/DerivedDataCache/
/Intermediate/
/Saved/
Binaries/
DerivedDataCache/
Intermediate/
Saved/
WesternProject/Saved/Logs/WesternProject.log
WesternProject/Config/DefaultEditor.ini
/WesternProject/Saved/Logs/WesternProject.log
/WesternProject/Config/DefaultEditor.ini
